ElasticRanStreamAPI/elasticwsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://elasticranstreamapi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://elasticranstreamapi/" name="UCImplementationService">
<types>
<xsd:schema>
<xsd:import namespace="http://elasticranstreamapi/" schemaLocation="http://localhost:9901/UC?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="sendStream">
<part name="parameters" element="tns:sendStream"></part>
</message>
<message name="sendStreamResponse">
<part name="parameters" element="tns:sendStreamResponse"></part>
</message>
<message name="download">
<part name="parameters" element="tns:download"></part>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"></part>
</message>
<message name="getStream">
<part name="parameters" element="tns:getStream"></part>
</message>
<message name="getStreamResponse">
<part name="parameters" element="tns:getStreamResponse"></part>
</message>
<message name="upload">
<part name="parameters" element="tns:upload"></part>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"></part>
</message>
<message name="in2cm">
<part name="parameters" element="tns:in2cm"></part>
</message>
<message name="in2cmResponse">
<part name="parameters" element="tns:in2cmResponse"></part>
</message>
<portType name="UCImplementation">
<operation name="sendStream">
<input wsam:Action="http://elasticranstreamapi/UCImplementation/sendStreamRequest" message="tns:sendStream"></input>
<output wsam:Action="http://elasticranstreamapi/UCImplementation/sendStreamResponse" message="tns:sendStreamResponse"></output>
</operation>
<operation name="download">
<input wsam:Action="http://elasticranstreamapi/UCImplementation/downloadRequest" message="tns:download"></input>
<output wsam:Action="http://elasticranstreamapi/UCImplementation/downloadResponse" message="tns:downloadResponse"></output>
</operation>
<operation name="getStream">
<input wsam:Action="http://elasticranstreamapi/UCImplementation/getStreamRequest" message="tns:getStream"></input>
<output wsam:Action="http://elasticranstreamapi/UCImplementation/getStreamResponse" message="tns:getStreamResponse"></output>
</operation>
<operation name="upload">
<input wsam:Action="http://elasticranstreamapi/UCImplementation/uploadRequest" message="tns:upload"></input>
<output wsam:Action="http://elasticranstreamapi/UCImplementation/uploadResponse" message="tns:uploadResponse"></output>
</operation>
<operation name="in2cm">
<input wsam:Action="http://elasticranstreamapi/UCImplementation/in2cmRequest" message="tns:in2cm"></input>
<output wsam:Action="http://elasticranstreamapi/UCImplementation/in2cmResponse" message="tns:in2cmResponse"></output>
</operation>
</portType>
<binding name="UCImplementationPortBinding" type="tns:UCImplementation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="sendStream">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStream">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="upload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="in2cm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UCImplementationService">
<port name="UCImplementationPort" binding="tns:UCImplementationPortBinding">
<soap:address location="http://localhost:9901/UC"></soap:address>
</port>
</service>
</definitions>